.authentication-container {
	display: flex;
	justify-content: space-between;
	width: 900px;
	margin: 30px auto;
}

/*
import styled from "styled-components";

export const StyledAuthenticationContainer = styled.div`
	display: flex;
	width: 900px;
	justify-content: space-between;
	margin: 30px auto;
`; */
